@import "@fontsource-variable/hanken-grotesk";
@import "@fontsource-variable/outfit";
@import "@fontsource-variable/roboto-flex";

@import "@fontsource/poppins/400-italic.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800-italic.css";

@import "@fontsource/ubuntu/400.css";
@import "@fontsource/ubuntu/500.css";
@import "@fontsource/ubuntu/700.css";

@import "@fontsource-variable/inter";

@import "@fontsource-variable/plus-jakarta-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;
